
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body{
    background-color: white;
    
   
}
header{
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 30px 70px;
    
}
a{
   text-decoration: none;
   color: black;
}
.nav-items{
    text-decoration: none;
    
}
.nav-items li{
    display: inline-block;
    padding: 0%  15px;
    
}
.container{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    
}
.title{
    margin-top: 10%;
    text-align: left;
    padding-left: 5%;
   
}
.heading{
    font-size: 4rem;
    font-weight: bold;
   
}
.subtitle{
    font-size: 1.2rem;
    padding-top: 6%;
    line-height: 25px;
}
.btn-1{
   padding: 8px;
   margin-top: 10%;
   text-align: center;
   color: white;
   background-color: #F7941E;
   border: 2px solid #F7941E;

}
.img-1{
   
    
    float: left;
   
  
}
.container-1{
    display: flex;
    background-color: whitesmoke;
    width: 100%;
}  
.title-2{
    margin-top: 10%;
    text-align: center;
    width: 50%;
   
}
.heading-2{
    font-size: 2rem;
   
}
.subtitle-2{
    font-size: 1.2rem;
    padding-top: 5%;
    text-align: left;
    padding-left: 8%;
    line-height: 25px;
}
.img-2{
   float: right;
  
   
}
.btn-2{
    margin-top: 5%;
    padding: 8px;
    background-color: whitesmoke;
    color:#F7941E;
    border: 1px solid  #F7941E;
    border-radius: 3px;
   }
.heading-3{
    text-align: center;
    margin-top: 5%;
}
.subtitle-3{
    text-align: center;
    padding-top: 1%;
    padding-bottom: 5%;
}
#pics{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10%;
    width: 90%;
    padding: 0px ;
    margin: 20px auto 80px auto;
    flex-direction: row;
}
.container-4{
    background-color:whitesmoke ;
    box-shadow: -10px 10px 10px  rgba(0,0,0,0.1);
    transition: 1s;
   
}
.container-4:hover{
    transform: scale(1.1);
}

.birthday{
    padding-top: 5%;
    padding-left: 4%;
}
.subtitle-4{
    margin-top: 50%;
    padding-left: 4%;
    padding-bottom: 5%;
}
.container-5{
    padding: 5%;
    margin: 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F7941E;
   
    
}
.heading-5{
    font-size: 1.5rem;
    margin-left: 80px;
   
}

.btns{
  padding: 0% ;
  margin-left: 30%;
  }
  .btn-3{
      background-color: black;
      color: white;
      padding: 10px 20px;
      border: 2px solid black;
      border-radius: 3px;
}
.btn-4{
    background-color: white;
    background-color: #F7941E;
    border: 1px solid black;
    padding: 10px 20px;
    padding-left: 10px;
}
.heading-6{
   text-align: center;
   margin-top: 5%;
}
.subtitle-5{
    text-align: center;
    padding-top: 1%;
    padding-bottom: 5%;
}.container-6{
    padding: 0%;
   
}
.container-7{
    display: flex;
    justify-content: space-around;
    padding: 0% 5%;
    width: 100%;
    
}
.heading-7{
    background-color: black;
    color: white;
    width: 70%;
    
}
.name{
    padding: 10% 10%;
}
.subtitle-6{
    padding-left: 10%;
    font-size: 2.5rem;
    width: 60%;
    font-family: gilroy;
}
.container-8{
    display: flex;
    flex-direction: row;
    padding: 10% 5%;
    width: 100%;
    
}
.heading-8{
    background-color:whitesmoke ;
    box-shadow: -10px 10px 10px  rgba(0,0,0,0.1);
    padding: 5% 2%;
    width: 50%;
    
}

.name-2{
width: 70%;
font-size: 1.5rem;
font-weight: bold;
}
.subtitle-7{
width: 90%;
padding-top: 5%;
}
.subtitle-8{
    padding-top: 8%;
}
.container-9{
    background-color: whitesmoke;
    
}
.lower-items{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 5% ;
    
}
.list-item{
    padding: 0% 50px;
}
#footer{
    display: flex;
    justify-content: center;
    padding: 0%  ;
}
.social-icon{
    padding: 0% 10px;
   
}
.copyright{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 15px;
    
}
hr{
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 30px;
    
    
}
@media (max-width: 1040px){
    #pics{
        flex-direction: column;
       
    }
}
@media (max-width: 1040px){
    .container-8{
        flex-direction: column;
       
    }
}


   






