body{

}
.container{
    padding: 0%;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}
.items{
    
  
}
.items-1{

}
.items-2{
   
}
    





    

